    </div>  

    <!-- JS packages -->
    <script src="statics/jquery-3.5.1.min.js"></script>
    <script type='text/javascript' src='controllers/schedule_scripts.js'></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/1bebb11a29.js" crossorigin="anonymous"></script>

    </body>
</html>