<div class="row container-fluid mx-0 my-5">
    <div class="col-sm-12 col-lg-10 container bg-white shadow rounded p-5">
        <h1 class="text-center mb-4">Preguntas del tema</h1>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                <h5>Elabora un diagrama y explica cómo funciona AJAX.</h5>
                <p>AJAX es una tecnica para enviar peticiones asincronas desde nuestras aplicaciones web. El que sean asincronas quiere decir que pueden interactuar con un servidor sin afectar el comportamiento de la pagina y efectivamente evitando hacer operaciones bloqueantes. Como si JavaScript usara otro hilo para la peticion (JavaScript es monohilo), esta puede ocurrir y procesarse en el fondo sin congelar o pertubar la experiencia del usuario.</p>
                <img class="img-thumbnail img-fluid" src="statics/barely-ajax.svg" alt="Diagrama del funcionamiento de AJAX">
                <p></p>
            </li>
            <li class="list-group-item">
                <h5>¿Qué alternativas a jQuery existen?</h5>
                <p>jQuery consiste de varios modulos: ajax, eventos, selectores, manipulacion del DOM, animaciones, entre otros. De modo que hay alternativas a los conjuntos de funcionalidades que ofrece en otras librerias, frameworks e incluso JavaScript plano.</p>
                <p>Algunos ejemplos son:</p>
                <ul>
                    <li><a href="https://github.com/fabiospampinato/cash">cash</a></li>
                    <li><a href="https://github.com/franciscop/umbrella">umbrella</a></li>
                    <li><a href="https://github.com/kylebarrow/chibi">chibi</a></li>
                </ul>
            </li>
            <li class="list-group-item">
                <h5>¿Qué es una promesa en JavaScript?</h5>
                <p>Una promesa es un objeto regresado por funciones asincronas modernas al cual se le pueden asignar funciones para ejecutar una vez haya la llamada asincrona haya finalizado. En otras palabras son un mecanismo que nos deja escoger que va a ocurrir cuando se completa o falla una funcion asincrona.</p>
                <p>Respecto a otros mecanismos, las promesas logran esto con varias ventajas que van desde ciertas garantias en el orden de las operaciones, hasta mayor simplicidad a la hora de escribir codigo.</p>
            </li>
            <li class="list-group-item">
                <h5>¿Cómo funcionan <code>async</code> y <code>await</code> ?</h5>
                <p>Estas palabras claves de JavaScript permiten trabajar con promesas (y funciones asincronas) con mayor facilidad y operan asi: <code>async</code> se usa antes del encabezado de una funcion e indica que esta va a contener alguna llamada asincrona. <code>await</code> se usa antes de una invocacion a una llamada asincrona <em>dentro</em> de una funcion con <code>async</code>, y esto hace que el programa espere a que se complete la funcion asincrona y regrese una promesa.</p>
                <p>La utilidad que ofrecen es producir codigo (que maneja llamadas asincronas y promesas) mas legible</p>
            </li>
        </ul> 

        <p>Referencias</p>
        <ul>
            <li><a href="http://youmightnotneedjquery.com/">You might not need jQuery</a></li>
            <li><a href="https://blog.logrocket.com/using-jquery-in-2019/">Using jQuery in 2019</a></li>
            <li><a href="https://www.educba.com/jquery-alternatives/">jQuery Alternatives</a></li>
            <li><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Promisex  ">MDN webdocs - Promise</a></li>
            <li><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Guide/Using_promises">MDN webdocs - Using promises</a></li>
            <li><a href="https://javascript.info/async-await">JAVASCRIPT.INFO - Async/await</a></li>
        </ul>
    </div>
</div>