body {
    min-height: 100vh;
    background-image: linear-gradient(to right top, #65d6a0, #aacc7e, #d8bf79, #f3b38e, #f7aeae);
}

.schedule-table {
    position: relative;
    left: -27px;
}

.group-scale-table, .group-scale-cell {
    border-collapse: collapse;
}

.group-scale-cell {
    border: 1px solid black;
    box-sizing: border-box;
    width: 18px;
    height: 18px;
}

.schedule-table, .schedule-cell {
    border-collapse: collapse;
}

.schedule-cell {
    border: 1px solid black;
    box-sizing: border-box;
    width: 45px;
    height: 18px;
}

.time-header-schedule-cell {
    box-sizing: border-box;
    width: 54px;
}

.first-half-schedule-cell {
    border-bottom-style: dotted;
}

.second-half-schedule-cell {
    border-top-style: dotted;   
}

.selected-cell {
    /*background-color: #57bb8a;*/
    background-color: #339900;
}

.unselected-cell {
    background-color: #f4cccc;
    
}

.selected-highlighted-cell {
    background-color: #40b606;
}

.unselected-highlighted-cell {
    background-color: #f7aeae;
}

/* Makes the row header of schedules unselectable
   leaving as they are causes problems when draggin  
   acroos the a schedule */
.unselectable {
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
 
    /*
      Introduced in IE 10.
      See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
    */
    -ms-user-select: none;
    user-select: none;
 }
