<div class="row container-fluid">
    <div class="col-sm-12 col-md-8 col-lg-6 container bg-white shadow rounded my-5 p-4">
        <h1>No has ingresado tus datos</h2>
        <p>Usa el boton de abajo para ir a registrar tus datos</p>
        <div class="d-flex justify-content-center">
            <a href="index.php" class="btn btn-success">Registrar datos</a>
        </div>
    </div>
</div>