<div class="row container-fluid">
    <div class="col-sm-12 col-md-8 col-lg-6 container bg-white shadow rounded my-5 p-4">
        <h1>Sesion terminada</h2>
        <p>Tus datos han sido destruidos y esta pagina no tiene idea de quien eres</p>
    </div>
</div>