<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <a class="navbar-brand" href="#">Lab 12</a>
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="index.php">Registro de datos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="schedule.php">Seleccion de horario</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="questions.php">Preguntas del lab</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="exit.php">Salir</a>
      </li>
    </ul>
</nav>
<div class="container">