<div class="row container-fluid">
    <div class="col-sm-12 col-md-10 container bg-white shadow rounded my-5 p-5">
        <h1>Preguntas del tema</h5>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                <h5>¿Por qué es importante hacer un session_unset() y luego un session_destroy()?</h5>
                <p>Es importante usar ambas si queremos terminadar definitivamente la sesion de un usuario porque cada funcion afecta cosas diferentes. <code>session_unset()</code> elimina las variables del arreglo <code>$_SESSION</code> mientras que <code>session_destroy()</code> elimina un archivo de sesion almacenado en el servidor.</p>
            </li>
            <li class="list-group-item">
                <h5>¿Cuál es la diferencia entre una variable de sesión y una cookie?</h5>
                <p>Las primeras se almacenan en el servidor y expiran despues de un determinado tiempo. Las segundas se almacenan en la maquina del cliente y persisten por mas tiempo</p>
            </li>
            <li class="list-group-item">
                <h5>¿Qué es CSRF y cómo puede prevenirse?</h5>
                <p><span class="font-italic">Cross Site Request Forgery</span> es un tipo de ataque que explota la autenticacion de un usuario para realizar acciones en su nombre y sin su conocimiento. Se aprovecha de sistemas que asumen que una peticion es legitima porque un usurio se auntentico con anterioridad. Una solucion robusta (aunque no perfecta) es generar una clave que acompañe a cada formulario y que sirva para verificar que el receptor del formulario es el mismo que lo regresa.</p>
            </li>
            <li class="list-group-item">
                <h5>¿Qué técnicas se utilizan en sitios como facebook para que el usuario no sobreescriba sus fotos en el sistema de archivos cuando sube una foto con el mismo nombre?</h5>
                <p>Hacen que cada foto tenga un nombre unico combinando el nobre original con la hora y fecha en la que fue subida, y pasandolo por una funcion hash</p>
            </li>
        </ul> 

        <p>Referencias</p>
        <ul>
            <li><a href="https://stackoverflow.com/questions/4303311/what-is-the-difference-between-session-unset-and-sesion-destroy-in-php">https://stackoverflow.com/questions/4303311/what-is-the-difference-between-session-unset-and-session-destroy-in-php</a></li>
            <li><a href="https://owasp.org/www-community/attacks/csrf">https://owasp.org/www-community/attacks/csrf</a></li>
            <li><a href="https://www.youtube.com/watch?v=eWEgUcHPle0">https://www.youtube.com/watch?v=eWEgUcHPle0</a></li>
            <li><a href="https://developer.mozilla.org/en-US/docs/Web/HTTP/Cookies">https://developer.mozilla.org/en-US/docs/Web/HTTP/Cookies</a></li>
            <li><a href="https://www.youtube.com/watch?v=vRBihr41JTo">https://www.youtube.com/watch?v=vRBihr41JTo</a></li>
        </ul>
    </div>
</div>




