body {
    background-color: #F8F9FA;
}

.schedule-table, .schedule-cell {
    border-collapse: collapse;
}

.schedule-cell {
    border: 1px solid black;
    box-sizing: border-box;
    width: 45px;
    height: 18px;
}

.first-half-schedule-cell {
    border-bottom-style: dotted;
}

.second-half-schedule-cell {
    border-top-style: dotted;   
}

.selected-cell {
    background-color: #57bb8a;
}

.unselected-cell {
    background-color: #f4cccc;
}
