<nav class="navbar navbar-expand bg-dark navbar-dark">
  <div class="container-fluid">
      <a class="navbar-brand" href="index.php"><i class="far fa-clock mr-2"></i>Laboratorio 18 - AJAX</a>
      <div class="d-flex justify-content-end">
          <ul class="navbar-nav">
              <li class="nav-item">
                  <a class="nav-link" href="questions.php">Preguntas del lab</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="exit.php">Cerrar sesion</a>
            </li>
          </ul>
      </div>
  </div>
</nav>

<div class="container d-flex justify-content-center">