<div class="row container-fluid mx-0 my-5">
    <div class="col-sm-12 col-lg-10 container bg-white shadow rounded p-5">
        <h1 class="text-center mb-4">Preguntas del tema</h1>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                <h5>¿Qué importancia tiene AJAX en el desarrollo de RIA's (Rich Internet Applications?</h5>
                <p>AJAX tiene un papel esencial en esto ya que al permitirnos cambiar partes específicas de una página (en vez de la página completa) podemos lograr aplicaciones web que operan mas rápido y son mas atractivas para el usuario</p>
            </li>
            <li class="list-group-item">
                <h5>¿Qué implicaciones de seguridad tiene AJAX? ¿Dónde se deben hacer las validaciones de seguridad, del lado del cliente o del lado del servidor?</h5>
                <p>Hay que recordar que AJAX solo agrega al flujo de información la posibilidad de cambiar partes de un sitio en respuesta a eventos. Todas las consideraciones de seguridad y validaciones se mantienen: es necesario validar del lado del cliente para mejorar la experiencia del usuario, y también del lado del servidor pues es posible saltarse cualquier lógica del lado del cliente.</p>
            </li>
            <li class="list-group-item">
                <h5>¿Qué es JSON?</h5>
                <p><span class="font-italic">JavaScript Object Notation</span> es un formato de intercambio de datos, independiente de cualquier lenguaje y fácil de manipular para los humanos y para las maquinas. Agrupa datos en objetos y arreglos, de modo que usualmente se tienen pares de llaves y valores.</p>
            </li>
        </ul> 

        <p>Referencias</p>
        <ul>
            <li><a href="https://cheatsheetseries.owasp.org/cheatsheets/AJAX_Security_Cheat_Sheet.html">AJAX Security Cheat Sheet</a></li>
            <li><a href="https://www.acunetix.com/websitesecurity/ajax/">Are AJAX Applications Vulnerable to Hack Attacks?</a></li>
            <li><a href="https://www.json.org/json-en.html">Introducing JSON</a></li>
            
        </ul>
    </div>
</div>