* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    color: #393a3a;
    background-color: #EAEDF0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

section {
    background-color: #F6F7F8;
    border: 1px solid #D6D9DC;
    border-radius: 3px;

    width: 80%;
    margin: 30px 0;
    padding: 40px;
}

header {
    text-align: center;
    margin-bottom: 20px;
}

.document-header {
    margin-top: 60px;
}

.question-answer-item {
    margin-bottom: 20px;
}

.exercise-container {
    background-color: #c7deff;
    border: 1px solid #7bb2ff;
    border-radius: 3px;

    width: 80%;
    margin: 30px 0;
    padding: 40px;
}

td {
    border: 1px solid black;
}
