<nav class="navbar navbar-expand bg-dark navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="index.php">Lab 14</a>
        <div class="d-flex justify-content-end">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="index.php">Vista de consultas</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="questions.php">Preguntas del lab</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container">