<div class="row container-fluid mx-0 my-5">
    <div class="col-sm-12 col-lg-10 container bg-white shadow rounded p-5">
        <h1>Preguntas del tema</h1>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                <h5>¿Qué es ODBC y para qué es útil?</h5>
                <blockquote class="blockquote">
                    <p>Para el programador de aplicaciones, es una libreria que contiene rutinas de acceso de datos. <span class="font-italic">En realidad Open DataBase Conectivity</span> es una especificacion de una API de bases de datos. Esta API es independiente todo motor de base de dato, sistema operativo y lenguage.</p>
                    <footer class="blockquote-footer">Del sitio de documentacion de Microsoft</footer>
                </blockquote>
                <p>Entonces cuando hablamos de ODBC hablamos de un mecanismo que nos permite escribir codigo para trabajar con bases de datos sin preocuparnos de las diferencias entre DBMSs, resultado en aplicaciones que pueden ser portadas a otras plataformas con cambios minimos.</p>
                <p>Esto se logra a traves de drivers de especificos a algun DBMS y un manejador de drivers. Las aplicaciones usan las funciones de estos drivers para accerder a la base de datos independientemente del DBMS que se este usando.</p>
                <img src="statics/odbc.bmp" class="mx-auto d-block"> 
            </li>
            <li class="list-group-item">
                <h5>¿Qué es SQL Injection?</h5>
                <p>La injeccion de SQL es, junto con XSS y CSRF, uno de los ataques web mas comunes. Puede ocurrir cuando se utiliza la entrada del usuario dentro de alguna sentencia SQL sin realizar validaciones.</p>
                <p>Por ejemplo si en la siguiente linea</p>
                <pre><code>    txtSQL = "SELECT * FROM Users WHERE UserId = " + txtUserId;</code></pre>
                <p>el valor que nos dio el usuario para <code>txtUSerId</code> fuera "105 OR 1=1", entonces la consulta se veria asi</p>
                <pre><code>    SELECT * FROM Users WHERE UserId = 105 OR 1=1;</code></pre>
                <p>y tendriamos resultados inesperadas y potencialmente perjudiaciales.</p>
            </li>
            <li class="list-group-item">
                <h5>¿Qué técnicas puedes utilizar para evitar ataques de SQL Injection?</h5>
                <ul>
                    <li>Consultas parametrizadas</li>
                    <li>Escapar caracteres con <code>mysql_real_escape_string()</code></li>
                    <li>Validar todas la entrada</li>
                </ul>
            </li>
        </ul> 

        <p>Referencias</p>
        <ul>
            <li><a href="https://docs.microsoft.com/en-us/sql/odbc/reference/what-is-odbc?view=sql-server-ver15">What is ODBC? - MS Docs</a></li>
            <li><a href="https://www.progress.com/faqs/datadirect-odbc-faqs/how-does-odbc-work">How does OBCD work? - Progress</a></li>
            <li><a href="https://www.w3schools.com/sql/sql_injection.asp">SQL injection - w3schools</a></li>
            <li><a href="https://owasp.org/www-community/attacks/SQL_Injection">SQL injection - OWASP</a></li>
            <li><a href="https://www.websec.ca/kb/sql_injection">SQL injection knowledge base</a></li>
            <li><a href="https://www.youtube.com/watch?v=_jKylhJtPmI">Hacking Websites with SQL Injection - Computerphile</a></li>
            <li><a href="https://www.ptsecurity.com/ww-en/analytics/knowledge-base/how-to-prevent-sql-injection-attacks/#2">How to prevent SQL injection attacks - Positive Technologies</a></li>
        </ul>
    </div>
</div>