/*This section eliminates the white border that would appear around the page by deafult*/
* {
    padding: 0px;
    margin: 0px;
    font-family: 'Montserrat', sans-serif;
}

/*Source for banner animation
  https://codepen.io/P1N2O/pen/pyBNzX*/
.banner {
    width: 100%;
	height: 600px;
	color: #fff;
	background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
	background-size: 400% 400%;
	-webkit-animation: Gradient 15s ease infinite;
	-moz-animation: Gradient 15s ease infinite;
	animation: Gradient 15s ease infinite;
    display: flex;
    align-items: center;
    justify-content: center;
}
@-webkit-keyframes Gradient {
	0% { background-position: 0% 50% }
	50% {	background-position: 100% 50%	}
	100% { background-position: 0% 50% }
}
@-moz-keyframes Gradient {
	0% { background-position: 0% 50% }
	50% {	background-position: 100% 50%	}
	100% { background-position: 0% 50% }
}
@keyframes Gradient {
	0% { background-position: 0% 50% }
	50% { background-position: 100% 50%	}
	100% { background-position: 0% 50% }
}

.profile-container {
    width: 600px;
    margin: 0 auto;
    position: relative;
}

.profile-pic {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin: 0 auto;
    display: block;

    position: absolute;
    left: 225px;
}

.profile-info {
    color: black;
    background-color: white;
    text-align: center;
    border-radius: 10px;

    margin-top: 75px;

    padding-top: 100px;
    padding-bottom: 40px;
    padding-left: 100px;
    padding-right: 100px;
}
.name {
    font-size: 1.2em;
    margin-bottom: 5px;
}
.headline {
    font-weight: bold;
    margin-bottom: 10px;
}
.profile-description {
    text-align: justify;
    margin-bottom: 10px;
}

article {
    margin: 50px 200px;
    padding: 30px 75px;
    background-color: #F6F7F8;
    border: 1px solid #D6D9DC;
    border-radius: 3px;
}

.article-title {
    text-align: center;
    margin-bottom: 20px;
}

.answer {
    margin-left: 40px;
    margin-bottom: 30px;
    margin-top: 5px;
}

h2 {
    font-size: 1.1em;
}

span {
    vertical-align: super;
    font-size: smaller;
}

h4 {
    margin-bottom: 10px;
}

table {
    margin: 0 auto;
    margin-bottom: 20px;
}

th, td {
    padding: 10px;
    border: 1px solid #333;
    background-color: lightskyblue;
}

footer {
    height: 50px;
    color: white;
    background-color: rgb(43, 42, 42);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.editor-link {
    color: rgb(158, 240, 255);
}