h1 {
    text-align: center;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
}

article {
    margin: 50px 200px;
    padding: 30px 40px;
    background-color: #F6F7F8;
    border: 1px solid #D6D9DC;
    border-radius: 3px;
}

section {
    margin: 20px 20px;
    padding: 30px 75px;
    width: 30%;
    background-color: #c3dcf5;
    border: 1px solid #99c5f1;
    border-radius: 3px;
}

table {
    margin: 0 auto;
    margin-bottom: 20px;
}

th, td {
    padding: 10px;
    border: 1px solid #333;
    background-color: lightskyblue;
}