* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #5D6063;
    background-color: #EAEDF0;
    font-family: "Helvetica", "Arial", sans-serif;
    font-size: 16px;
    line-height: 1.3;

    display: flex;
    flex-direction: column;
    align-items: center;
}

section, header{
    background-color: #F6F7F8;
    border: 1px solid #D6D9DC;
    border-radius: 3px;

    width: 600px;
    margin: 40px 0;
    padding: 50px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

header, header h1 {
    text-align: center;
}

h1 {
    margin-bottom: 20px;
}

.form-row {
    margin-bottom: 40px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start; /* To avoid stretching */
    justify-content: flex-start;
    margin-bottom: 20px;
}

.form-row input[type='text'],
.form-row input[type='email'],
.form-row input[type='password'] {
    background-color: #FFFFFF;
    border: 1px solid #D6D9DC;
    border-radius: 3px;
    width: 100%;
    padding: 7px;
    font-size: 14px;
}

.form-row input[type='text']:invalid,
.form-row input[type='email']:invalid
.form-row input[type='password']:invalid {
    border: 1px solid #D55C5F;
    color: #D55C5F;
    box-shadow: none; /* Remove default red glow in Firefox */
}

.form-row label {
    margin-bottom: 15px;
    text-align: right;
    width: 120px;
    margin-top: 7px;
    padding-right: 20px;
}

.form-row input[type='text'],
.form-row input[type='email'],
.form-row input[type='password'],    
.form-row select,                 
.form-row textarea {              
    width: 250px;
    height: initial;
}
  
.legacy-form-row {
    border: none;
    margin-bottom: 40px;
}

.legacy-form-row .radio-label {
    display: block;
    font-size: 14px;
    padding: 0 20px 0 10px;
}

.legacy-form-row input[type='radio'] {
    margin-top: 2px;
}

.legacy-form-row .radio-label,
.legacy-form-row input[type='radio'] {
    float: left;
}

.legacy-form-row {
    border: none;
    margin-bottom: 10px;
}

.legacy-form-row legend {
    margin-bottom: 15px;
    width: 120px;
    text-align: right;
    padding-right: 20px;
    float: left;
}

.legacy-form-row .radio-label {
    display: block;
    font-size: 14px;
    padding: 0 20px 0 10px;
}

.legacy-form-row input[type='radio'] {
    margin-top: 2px;
}

.legacy-form-row .radio-label,
.legacy-form-row input[type='radio'] {
    float: left;
}

.form-row select {
    padding: 5px;
    font-size: 14px;            /* This won't work in Chrome or Safari */
    -webkit-appearance: none;   /* This will make it work */
    /*This is not recommended */
    /*This is not recommended https://developer.mozilla.org/en-US/docs/Web/CSS/appearance
      I'm only doing this as a learning exercise*/
}

.form-row textarea {
    font-family: "Helvetica", "Arial", sans-serif;
    font-size: 14px;
  
    border: 1px solid #D6D9DC;
    border-radius: 3px;
  
    min-height: 200px;
    margin-bottom: 10px;
    padding: 7px;
    resize: none;
}
  
.form-row .instructions {
    color: #999999;
    font-size: 14px;
    margin-bottom: 30px;
    margin-left: 120px;
}

.form-row .checkbox-label {
    margin-bottom: 0;
    margin-left: 120px;
    width: auto;
}  

.form-row button {
    font-size: 16px;
    font-weight: bold;
  
    color: #FFFFFF;
    background-color: #5995DA;
  
    border: none;
    border-radius: 3px;
  
    padding: 10px 40px;
    cursor: pointer;

    margin-left: 120px;
}
  
.form-row button:hover {
    background-color: #76AEED;
}
  
.form-row button:active {
    background-color: #407FC7;
}

.sales-section {
    width: 1000px;
}

.sale-item-container {
    display: flex;
    justify-content: space-around;
    
}

.sale-item {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    border: 1px solid rgb(109, 198, 253);
    background-color: rgb(212, 233, 247);
    border-radius: 3px;
}

.sale-item h2,
.sale-item h3{
    margin-bottom: 5px;
}

.sale-item img,
.sale-item p {
    margin-bottom: 20px;
}

.sale-item p {
    height: 80px;
}

img {
    width: 150px;  
}

.quantity-container {
    display: flex;
}

.quantity-container input {
    background-color: #f8f2c0;
    border: 1px solid #f0e268;
    border-radius: 3px;
    width: 50px;
    font-size: 20px;
    padding: 5px;
}

.quantity-selectors {
    display: flex;
    flex-direction: column;
}

.quantity-selectors button {
    font-size: 16px;
    font-weight: bold;
  
    color: #FFFFFF;
    background-color: #83b6f1;
    border: 1px solid #177cf0;
    border-radius: 3px;

    border: none;
    border-radius: 3px;
  
    padding: 5px;
    cursor: pointer;
}

.password-icon {
    margin-left: 10px;
    width: 35px;
    cursor: pointer;
}

.total-button {
    font-size: 16px;
    font-weight: bold;
  
    color: #FFFFFF;
    background-color: #5995DA;
  
    border: none;
    border-radius: 3px;
  
    padding: 10px 40px;
    cursor: pointer;

    margin-top: 30px;
}
  
.total-button:hover {
    background-color: #76AEED;
}
  
.total-button:active {
    background-color: #407FC7;
}

.questions {
    align-items: flex-start;
}
.questions h2,
.questions p {
    margin-bottom: 20px;
}

.questions h3 {
    font-size: 1em;
}

button[disabled] {
    background-color: grey;
    cursor: not-allowed;
}