* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    color: #393a3a;
    background-color: #EAEDF0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.document-header {
    margin-top: 60px;
}

section {
    background-color: #F6F7F8;
    border: 1px solid #D6D9DC;
    border-radius: 3px;

    width: 80%;
    margin: 30px 0;
    padding: 40px;
}

header {
    text-align: center;
    margin-bottom: 20px;
}

code {
    font-family: monospace;
    font-size: 18px;
}

ul, ol, footer {
    margin-left: 25px;
}

ul li {
    margin-bottom: 20px;
}

li h3 {
    margin-bottom: 5px;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    margin: 30px auto;
}

img {
    height: 150px;
    display: block;
    border: 1px solid gray;
    border-radius: 10px;
    transition: text-shadow 0.5s;
}

#shadowed-text {
    transition: text-shadow 0.5s;
}

.watermark {
    position: fixed;
    top: 90%;
    left: 90%;
    text-align: center;
    opacity: 0.5;
}

.text-with-tooltip {
    border-bottom: 3px dotted darkgray;
    font-weight: bold;
    position: relative;
}

.text-with-tooltip .tooltip-text {
    box-sizing: border-box;
    opacity: 0;
    background-color: lightgray;
    width: 60px;
    font-weight: normal;
    text-align: center;
    border-radius: 6px;
    padding: 5px 5px;

    position: absolute;
    z-index: 1;
    top: 115%;
    left: 50%;
    margin-left: -30px;
    
    transition: opacity 0.25s;
}

.text-with-tooltip:hover .tooltip-text {
    opacity: 1
}

#shadowed-text:hover {
    text-shadow: 0px 0px 3px #FF0000;
}