<div class=" container-fluid" ondragstart="return false;" ondrop="return false;">
    <div class="row bg-white shadow rounded my-5 p-5 d-flex justify-content-center">
        <img src="massive_base.png" alt="" style="height: 500px;">
        
    </div>
</div>
