<div class="container-fluid" ondragstart="return false;" ondrop="return false;">
    <div class="bg-white shadow rounded my-5 p-5">
        
        <div class="mb-5">
            <h4>Linea del tiempo de cambios</h4>
            <p>Todos los registros de actualización de estado de zombies del más reciente al más antiguo por la fecha de su registro:</p>
            <?=get_timeline_table();?>
        </div>

        <div class="mb-5">
            <h4>Proporciones por estado</h4>
            <p>La cantidad de zombies que hay actualmente en cada estado</p>
            <?=get_proportions_table();?>
        </div>

        <h4>Consulta por estado</h4>
        <p>Selecciona un estado para ver todos los zombies que llegaron a ese estado en su ultima actualizacion</p>
        <!-- estado -->
        <div class="form-group">
            <label for="estado">Estado:</label>
            <select name="estado" id="estado" class="form-control" required>
                
                <option value="" selected disabled>
                    Selecciona una opcion
                </option>
                
                <?php while($fila_estados= mysqli_fetch_assoc($estados)): ?>  
                    <option value = "<?=$fila_estados['id_estado']?>">
                        <?=$fila_estados["nombre"] ?>
                    </option>
                <?php endwhile; ?>
            </select>
        </div>
        <div id="by_state_table">

        </div>
    </div>
</div>
