<div class="container-fluid" ondragstart="return false;" ondrop="return false;">
    <div class="bg-white shadow rounded my-5 p-5">
        <?php if(isset($_SESSION["mensaje"])): ?>
            <div class="alert alert-success" role="alert">
                <?= $_SESSION["mensaje"] ?>
            </div>
            <?php unset($_SESSION["mensaje"]) ?>
        <?php endif; ?>

        <h1>People for the Ethical Treatment of Zombies</h1>
        <p>Desde esta pagina puede registrar nuevos zombies y actualizar el estado de zombies ya registrados.</p>
        <div class="d-flex justify-content-end">
            <a href="registro_nuevo.php" class="btn btn-success mb-4" role="button">Registrar nuevo zombie</a>
        </div>
        
        <?=get_zombies_table();?>
    </div>
</div>
