<nav class="navbar navbar-expand bg-dark navbar-dark">
  <div class="container-fluid">
      <a class="navbar-brand" href="index.php">Examen 2 - PETZ</a>
      <div class="d-flex justify-content-end">
          <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="index.php">Registro de zombies</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="consultas.php">Informacion de zombies</a>
                </li>
          </ul>
      </div>
  </div>
</nav>

<div class="container d-flex justify-content-center">