<div class="container-fluid" ondragstart="return false;" ondrop="return false;">
    <div class="bg-white shadow rounded my-5 p-5">
        <div id="register_new_message">

        </div>
        
        <h1>Registrar nuevo zombie</h1>

        <form action="controllers/registrar_nuevo_controller.php" method="POST">
            
            <!-- name -->
            <div class="form-group">
                <label for="username">Nombre:</label>
                <input type="text" class="form-control" id="name" name="name" required>
            </div>

            
        </form>
        <!-- Submit button -->
        <div class="d-flex justify-content-center mt-4">
            <button type="submit" class="btn btn-success" name="submit_new" id="submit_new">Registrar</button>
        </div>

    </div>
</div>
