<div class="container-fluid" ondragstart="return false;" ondrop="return false;">
    <div class="bg-white shadow rounded my-5 p-5">
        
        <h3>Registrar nuevo estado para <?=$name?> </h3>
        <p>Selecciona el nuevo estado al que ha llegado el zombie</p>

        <form action="controllers/registrar_actualizacion_controller.php" method="POST">
            
            <!-- estado -->
            <div class="form-group">
                <label for="estado">Nuevo estado:</label>
                <select name="id_estado" id="id_estado" class="form-control" required>
                    
                    <option value="" selected disabled>
                        Selecciona una opcion
                    </option>
                    
                    <?php while($fila_estados= mysqli_fetch_assoc($estados)): ?>  
                        <option value = "<?=$fila_estados['id_estado']?>">
                            <?=$fila_estados["nombre"] ?>
                        </option>
                    <?php endwhile; ?>
                </select>
            </div>

            <input type="hidden" name="id_zombie" id="id_zombie" value="<?=$id?>" />

            <!-- Submit button -->
            <div class="d-flex justify-content-center mt-4">
                <button type="submit" class="btn btn-success" name="submit_update" id="submit_update">Registrar</button>
            </div>

        </form>
        
    </div>
</div>
